@model AlDS.Coursework.Board.BoardModel.Note
@using AlDS.Coursework.Board.UserModel
@using Microsoft.AspNetCore.Identity
@using AlDS.Coursework.Board.BoardModel
@using AlDS.Coursework.Board.RelatedTablesModel
@using AlDS.Coursework.WebApplicationTest.Data
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@{
    ViewData["Title"] = "Edit";
}

@if (SignInManager.IsSignedIn(User))
{
<h1>Edit</h1>

<h4>Note</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="NoteId" value = @Model.NoteId/>
            <input type="hidden" name="CreatorId" value = @Model.CreatorId>
            <input type="hidden" name ="CardId" value = @Model.CardId>

            Title @Html.EditorFor(model => model.Title)
            Desc @Html.EditorFor(model => model.Description)
            Text @Html.EditorFor(model=>model.Text);
            Comment @Html.EditorFor(model=>model.Comment);

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
    
}
