@using AlDS.Coursework.Board.UserModel
@using Microsoft.AspNetCore.Identity
@using AlDS.Coursework.Board.BoardModel
@using AlDS.Coursework.Board.RelatedTablesModel
@using AlDS.Coursework.WebApplicationTest.Data

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@model AlDS.Coursework.Board.BoardModel.Note
@{
    Layout = "../../Pages/Shared/_Layout.cshtml";
}


<div class="person_main_page">

	<div class="note">
        <div class="dropdown">
        <button onclick="myFunction()" class="dropbtn">@Model.Title</button>
          <div id="myDropdown" class="dropdown-content">
            <a href="#">Удалить</a>
            <a href="#">Изменить название</a>
          </div>
        </div>
		<div class="note_title">
			<p>@Model.Description</p>
		</div>

		<div class="note_text">
			            <form asp-action="Edit" method="post">
                        <input type="hidden" asp-for="NoteId" value = @Model.NoteId/>
                        <input type="hidden" name="CreatorId" value = @Model.CreatorId>
                        <input type="hidden" name ="CardId" value = @Model.CardId>

                        <input class="p_board" type="hidden" name="Title" placeholder="Название" />
                        <input class="p_board" type="hidden" name="Description" placeholder="Описание" />
                        <p class="p_board"><textarea  name="Text">@Model.Text</textarea></p>


                        <input formaction="../Edit" type="submit" value="Отправить" />

                </form>
		</div>

	</div>

</div>



<script>
function myFunction() {
    document.getElementById("myDropdown").classList.toggle("show");
}
window.onclick = function(event) {
  if (!event.target.matches('.dropbtn')) {

    var dropdowns = document.getElementsByClassName("dropdown-content");
    var i;
    for (i = 0; i < dropdowns.length; i++) {
      var openDropdown = dropdowns[i];
      if (openDropdown.classList.contains('show')) {
        openDropdown.classList.remove('show');
      }
    }
  }
}
</script>


