@using AlDS.Coursework.Board.UserModel
@using Microsoft.AspNetCore.Identity
@using AlDS.Coursework.Board.BoardModel
@using AlDS.Coursework.Board.RelatedTablesModel
@using AlDS.Coursework.WebApplicationTest.Data
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@model List<AlDS.Coursework.Board.BoardModel.Board>

@{
    Layout = "../../Pages/Shared/_Layout.cshtml";
}


<div class="person_main_page">

    <header class="person_header_main_menu">
        <div class="person_header_links">
            <a class="person_header_link" href="../">На главную</a>
            <div class="person_header_link">
                <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post" >
                <button class="button_main" type="submit">Выйти из аккаунта</button>
                </form>
            </div>
        </div>
        <div class="logo">
            <span class="person_logo_size"><i class="bi bi-tablet-landscape"></i></span>
        </div>
    </header>

    <div class="person_board_block">
        <table class="table_board">
            @foreach (var item in Model)
            {
                <tr class="block_board">
                    <td class="td_board">
                    <p>@item.Title</p>
                    </td>
                    <td class="td_board">
                    <p>@item.Description</p>
                    </td>
                    <td class="td_board">
                    @Html.RouteLink("Info", new { controller = "Board", action = "Info", id = @item.BoardId } )
                    </td>
                 </tr>
            }
        </table>

        <p>Add board: <a href= "../board/Create">Click</a></p>

    </div>


</div>

