@using AlDS.Coursework.Board.UserModel
@using Microsoft.AspNetCore.Identity
@using AlDS.Coursework.Board.BoardModel
@using AlDS.Coursework.Board.RelatedTablesModel
@using AlDS.Coursework.WebApplicationTest.Data
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@model List<AlDS.Coursework.Board.BoardModel.Board>

<h2>Hello, @ViewData["Name"]</h2>

@foreach(var elem in @Model)
{
    <p>Title: @elem.Title</p>
    <p>Description: @elem.Description</p>
    <p>Creator: @elem.UserId</p>
    <p>Link: @Html.RouteLink("Click", new { controller = "Board", action = "Info", BoardId = @elem.BoardId } )</p>
}

<p>Add board: <a href= "../board/Create">Click</a></p>