@using AlDS.Coursework.Board.UserModel
@using Microsoft.AspNetCore.Identity
@using AlDS.Coursework.Board.BoardModel
@using AlDS.Coursework.Board.RelatedTablesModel
@using AlDS.Coursework.WebApplicationTest.Data
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@model List<AlDS.Coursework.Board.BoardModel.Board>

@{
    Layout = "../../Pages/Shared/_Layout.cshtml";
}

<body class="body_container">

<header class="person_head">
    <div class="container">
        <nav class="nav_main">
            <h3 class="logo">DAISY</h3>
                <ul>
                    <li><a href="../">На главную</a></li>
                    <li>
                        <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post" >
                        <button class="button_main" type="submit">Выйти из аккаунта</button>
                        </form>
                    </li>
                </ul>
        </nav>
    </div>
</header>

<main>

    <h2 class="h2_person">Hello, @ViewData["Name"]</h2>

    <div class="div_board">
    @foreach(var elem in @Model)
    {
        <p>Title: @elem.Title</p>
        <p>Description: @elem.Description</p>
        <p>Creator: @elem.UserId</p>
        <p>Link: @Html.RouteLink("Click", new { controller = "Board", action = "Info", BoardId = @elem.BoardId } )</p>
    }

    <p>Add board: <a href= "../board/Create">Click</a></p>
    </div>

</main>




</body>
