@model AlDS.Coursework.Board.BoardModel.Board
@using AlDS.Coursework.Board.UserModel
@using Microsoft.AspNetCore.Identity
@using AlDS.Coursework.Board.BoardModel
@using AlDS.Coursework.Board.RelatedTablesModel
@using AlDS.Coursework.WebApplicationTest.Data
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager


@{
    ViewData["Title"] = "Create";
}


@if (SignInManager.IsSignedIn(User))
{
    var elemName = @User.Identity.Name;
   
    <h1>Create</h1>
    
    <h4>Board</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create" method="post">
                <div class="form-group">
                    <p>Input title</p>
                    @Html.EditorFor(model => model.Title)
                    <p>Input desc</p>
                    @Html.EditorFor(model => model.Description)
                    <p>Input space</p>
                    @Html.EditorFor(model => model.Space)
                    <input type="hidden" name="UserId" value = @User.Identity.Name>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }



}
