@model AlDS.Coursework.Board.BoardModel.Board
@using AlDS.Coursework.Board.UserModel
@using Microsoft.AspNetCore.Identity
@using AlDS.Coursework.Board.BoardModel
@using AlDS.Coursework.Board.RelatedTablesModel
@using AlDS.Coursework.WebApplicationTest.Data
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@{
    ViewData["Title"] = "Edit";
}

@if (SignInManager.IsSignedIn(User))
{
    var elemName = @User.Identity.Name;
<h1>Edit</h1>

<h4>Board</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="BoardId" value = @Model.BoardId/>
            <input type="hidden" name="UserId" value = @Model.UserId/> 
            @Html.EditorFor(model => model.Title)
            <div class="col-md-10">
                @Html.EditorFor(model => model.Description)
                @Html.EditorFor(model => model.Space)
            </div>
                 
            <div class="form-group">
                <input type="submit" value="Edit" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a href=".." asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

}

