@using AlDS.Coursework.Board.BoardModel;
@using AlDS.Coursework.Board.UserModel
@using Microsoft.AspNetCore.Identity
@using AlDS.Coursework.Board.RelatedTablesModel
@using AlDS.Coursework.WebApplicationTest.Data

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@model AlDS.Coursework.Board.BoardModel.Board;

    <style>
      #okno {
        text-align: left;
        color: #0000cc;
        display: none;
        position: absolute;
      }
      #okno:target {display: block;}
      .close {
        display: inline-block;
        color: #0000cc;
        text-decoration: none;
        background: #f2f2f2;
        cursor:pointer;
      }
      .close:hover {background: #e6e6ff;}


      {box-sizing: border-box;}
    </style>


<script>
</script>


<p>Info</p>


@if (SignInManager.IsSignedIn(User))
{
    <p>meow</p>
    <p>@Model.Cards.Count()</p>
    @foreach (var item in @Model.Cards)
    {
        <p>Card: @item.Title</p>
        <p>Id: @item.CardId</p>
        <p>Edit: @Html.RouteLink("Click", new { controller = "Card", action = "Edit", id = @item.CardId, BoardId = @Model.BoardId } )</p>
        <p>Delete: @Html.RouteLink("Click", new { controller = "Card", action = "Delete", id = @item.CardId, BoardId = @Model.BoardId } )</p>

        @foreach(var elem in @item.Notes)
        {
            <p>Note: @elem.Title</p>
            <p>Info: @Html.RouteLink("Click", new { controller = "Note", action = "Index", id = @elem.NoteId } )</p>
            <p>Edit: @Html.RouteLink("Click", new { controller = "Note", action = "Edit", id = @elem.NoteId } )</p>
            <p>Delete: @Html.RouteLink("Click", new { controller = "Note", action = "Delete", id = @elem.NoteId, BoardId = @item.BoardId } )</p>
        }
        <a href="#okno">Добавить заметку? @item.CardId </a>

        // TODO Узнать id текущего пользователя
        <div id="okno">
          <form asp-action="Create" method="post">
             <input type="hidden" name="CreatorId" value = @User.Identity.Name>
             <input type="hidden" name="CardId" value = @item.CardId>
             <input type="hidden" name="BoardId" value = @item.BoardId>
            <label>Title:</label><br />
            <input type="text" name="Title" /><br /><br />
            <label>Text:</label><br />
            <input type="text" name="Text" /><br /><br />
            <input formaction="../../Note/Create" type="submit" value="Отправить" />
          </form>
         <a href="#" class="close">Закрыть окно</a>
        </div>
    }
    <p>Add Card: @Html.RouteLink("Click", new { controller = "Card", action = "Create", BoardId = @Model.BoardId } )</p>


   @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }

}



 
